[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

facebook-sdk = "*"
redis = "*"
flask = "*"
"geoip2" = "*"
python-dateutil = "*"
requests = "*"
python-dotenv = "*"
supervisor = "*"


[requires]

python_version = "2.7"
